@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Lora&family=Open+Sans&family=Parisienne&family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500&family=Playfair+Display&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  font-family: 'Bodoni Moda', serif;
  font-family: 'Lora', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Parisienne', cursive;
  font-family: 'Salsa', cursive;
  font-family: 'League Spartan', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: "Palanquin", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}